html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}
:root{
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --light-sec-color: #292A32;
    --grey-color: #F3F3F3;
    --background-color: #FFFFFF;
    --h1-font-size: 3.75rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.88rem;
    --h4-font-size: 1.25rem;
    --p-font-size: 1.13rem;
    --title-font-size: 3.75rem;
    --primary-font: "Space Grotesk", sans-serif;
    --border-radius1: 14px;
    --border-radius2: 45px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color);
    font-family: var(--primary-font);
    overflow-x: hidden;
    margin-left: 50px;
}
h1{
    font-size: var(--h1-font-size);
    font-family: var(--primary-font);
}
h2{
    font-size: var(--h2-font-size);
    font-family: var(--primary-font);
}
h3{
    font-size: var(--h3-font-size);
    font-family: var(--primary-font);
    }
h4{
    font-size: var(--h4-font-size);
    font-family: var(--primary-font);
}
p{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
    color: var(--secondary-color);
}

header{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 68px;
    margin-top: 15px;
}
nav ul{
    display: flex;
    margin-top: 25px;
}
header .logo-container img{
    width: 200px;
    height: 36px;
    padding-right: 50px;
}
nav ul li{
    margin: 0px 25px 0px 0px;
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-container nav ul > li > a{
    text-decoration: none;
    color: var(--secondary-color);
}
.nav-container{
   height: 68px;
   margin-left: 209.49px;
}
.menu-call-to-action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 231px;
    height: 35px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius1);

}
.call-to-action-btn a{
    margin-top: 25px;
    position: relative;
    top: 10px;
    left: 60px;

}
.landing-page-details-container{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;

}

.details-image-section-container img{
    width: 600.46px;
    height: 515px;
}
.details-section-title-container{
    width: 531px;
    height: 231px;
}
.details-section-paragraph-container{
    width: 498px;
    margin-top: 25px;
}

.call-to-action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 68px;
    border-radius: var(--border-radius1);
    border: 1px solid var(--secondary-color);
    margin-top: 25px;
    background-color: var(--secondary-color);
}
.call-to-action-btn p{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
    color: var(--background-color);
}
.logo-types-details-container{
    display: flex;
}
.logo-1-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-2-container{
    margin-left: 95.9px;
}
.logo-2-container img 
{
    height: 48px;
    width: 124.11px;
    
}
.logo-3-container{
    margin-left: 95.9px;
}
.logo-3-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-4-container{
    margin-left: 95.9px;
}
.logo-4-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-5-container{
    margin-left: 95.9px;
}
.logo-5-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-6-container{
    margin-left: 95.9px;
}
.logo-6-container img 
{
    height: 48px;
    width: 124.11px;
}
.service-section{
    margin-top: 110px;
}
.service-introduction-container{
    display: flex;
    align-items: center;
}
.service-section-title{
    font-family: var(--primary-font);
    font-size: var(--h2-font-size);
}
.service-section-paragraph-container{
    display: flex;
    width: 580px;
    position: relative;
    left: 50px;

}
.service-section-paragraph{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
}
.service-section-title-container{
    background-color: var(--primary-color);
    border-radius: var(--border-radius1);
    padding: 5px 5px 5px 5px;
}

.services-containers
{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    
}
/*Service section styles */
.service-container{
    display: flex;
    margin-top: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius2);
    box-shadow: 0px 5px var(--secondary-color);
    width: 600px;
}

.first-content-container{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.second-content-container{
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 50px ;
    width: 600px;
    height: 170px;
}
.container-title{
    margin-bottom: 90px;
    width: 221px;
}
.container-title h3{
    background-color: var(--primary-color);
    border-radius: 7px
}
.container-learn-more-btn{
    display: flex;
    align-items: center;   
    width: 164px;
}
.container-learn-more-btn-title{
    margin-left: 15px;
}

.PPC-service-container{
    background-color: var(--primary-color);
}
.SEO-service-container{
    background-color: var(--grey-color);
    margin-right: 40px;
}
.social-media-service-container{
    background-color: var(--secondary-color);
    margin-right: 40px;
}
.email-marketing-service-container{
    background-color: var(--grey-color);
}
.content-creation-service-container{
    background-color: var(--primary-color);
    margin-right: 40px;
}
.analytics-service-container{
    background-color: var(--secondary-color);
}
.analytics-container-learn-more-btn-title p{
    color: var(--background-color);
}
.content-creation-container-title h3{
    background-color: var(--background-color);
}
.social-media-container-learn-more-btn-title p{
    color: var(--background-color);
}
.social-media-container-title h3{
    background-color: var(--background-color);
}
.ppc-container-title h3{
    background-color: var(--background-color);
}

.service-first-row{
    display: flex;
    justify-content: space-evenly;
}
.service-second-row{
    display: flex;
    justify-content: space-evenly;
}
.service-third-row{
    display: flex;
    justify-content: space-evenly;
}
.service-fourth-row{
    display: flex;
    justify-content: space-evenly;
}
/*End of service styles*/
.call-to-action-container{
    display: flex;
    align-items: center;
    background-color: var(--grey-color);
    margin-right: 50px;
    border-radius: var(--border-radius2);
    margin-top: 143.5px;
    height: 347px;
    width: 1240px;
 
}
.call-to-action-container-details{
    width: 500px;
    height: 227px;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 186px;
}

.call-to-action-container-prg{
    margin-top: 60px;
}
.call-to-action-container-btn{
    margin-top: 26px;
}
.call-to-action-container-image{
    width: 494px;
    height:394.27px;
}
.case-study-section{
    margin-top: 110px;
    width: 1240px;
}
.case-study-section-title{
    display: flex;
    align-items: center;
}
.case-study-section-paragraph{
    width: 580px;
    height: 46px;
}
.case-study-section-h2{
    width: 265px;
    height: 51px;
}
.case-study-section-h2 h2{
    background-color: var(--primary-color);
    border-radius: 7px;
}
.case-study-section-paragraph{
    margin-left: 40px;
}
.case-study-container{
    margin-top: 80px;
    height: 326px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius2);
    display: flex;

}
.use-case-p-white{
    color: var(--background-color);
}
.use-case-p-green{
    color: var(--primary-color);
}
.usecase-sub-container{
    width: 286px;
    height: 163px;
}
.usecase-learn-more-btn{
   display: flex; 
   margin-top: 20px;
}
.learn-more-btn-icon{
    margin-left: 15px;
}
.first-use-case{
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 93px;
    margin-right: 64px;

}
.second-use-case{
    margin-top: 70px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 70px;

}
.third-use-case{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 60px;
    margin-left: 64px;
}
.separator-use-case{
    background-color: var(--background-color);
    width: 2px;
    height: 186px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.step-by-step-guide-section{
    margin-top: 140px;
    width: 1234px;
}
.step-by-step-guide-title{
    display: flex;
    align-items: center;
}
.step-by-step-guide-title h2{
    margin-right: 40px;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 5px;
}
.step-by-step-guide-title p{
    width: 292px;
}
.step-number p{
    font-size: var(--title-font-size);
}
.step-one-title{
    display: flex;
    align-items: center;
    width: 1117px;
    margin-bottom: 40px;
}
.step-one-consultation{
    margin-top: 80px;
}
.step-container{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius2);
    padding-left: 60px;
    padding-top: 41px;
    box-shadow: 0px 5px var(--secondary-color);
}
.step-paragraph{
    width: 1114px;
    margin-bottom: 41px;
}
.step-separator{
    height: 1px;
    background-color: var(--secondary-color);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.step-title h3{
    margin-left: 25px;
    color: var(--secondary-color);
}
.step-title{
    width: 612px;
}
.step-icon{
    margin-left: 375px;
}
.team-section{
    margin-top: 140px;
}
.team-title-container{
    display: flex;
    align-items: center;
}
.team-title{
    margin-right: 40px;
}
.team-title h2{
    background-color: var(--primary-color);
    border-radius: 7px;
}
.team-title-paragraph{
    width: 473px;
}
.team-member-container{
    width: 387px;
    height: 331px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius2);
    box-shadow: 0px 5px var(--secondary-color);
}
.teams-container{
    margin-top: 80px;
}
.first-row-team{
    display: flex;
}
.second-row-team{
    display: flex;
    margin-top: 40px;
}
.team-member-one-container{
    margin-right: 40px;
}
.team-member-two-container{
    margin-right: 40px;
}
.team-member-four-container{
    margin-right: 40px;
}
.team-member-five-container{
    margin-right: 40px;
}
.member-details-title-container{
    display: flex;
    align-items: center;
}
.member-details-title-container{
    margin-top: 40px;
    margin-left: 35px;
    margin-right: 35px;
}
.member-details-names-container{
    margin-left: 20px;
    width: 148px;
}
.member-details-socila-link{
    position: relative;
    bottom: 50px;
    
}
.member-container-separator{
    width: 317px;
    height: 1px;
    background-color: var(--secondary-color);
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 28px;

}
.member-details-container{
    width: 317px;
    margin-top: 28px;
    margin-left: 35px;
    margin-right: 35px;
}
.see-all-team-btn{
    width: 269px;
    height: 68px;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    border-radius: 14px;
    margin-top: 40px;
    position: relative;
    left: 950px;
    

}
.see-all-team-btn p{
    font-size: 1.25rem;
    color: var(--background-color);
    margin-left: 75px;
    margin-right: 78px;

}
.testimonial-section{
    margin-top: 100px;
    width: 1240px;
}.testimonial-title-container{
    display: flex;
    align-items: center;
}
.testimonial-title-p{
    margin-left: 80px;
    width: 473px;
}
.testimonial-title h2{
    background-color: var(--primary-color);
}
.testimonials-container{
    height: 500px;
    background-color: var(--secondary-color);
    margin-top: 80px;
    border-radius: var(--border-radius2);
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    top: 25px;
    margin-left: 84px;
  }
  
  /* Hide the images by default */
  .mySlides {
   
    position: relative;
    left: 250px;
    top: 84px;
    
  }
 
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  .dot-container{
    position: relative;
    display: flex;
    justify-content: center;
    top: 150px
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
.contact-us-section{
    margin-top: 140px;
    width: 1240px;
  }
.contact-us-title-container{
    display: flex;
    align-items: center;
  }
.contact-us-title-p{
    margin-left: 40px;
    width: 323px;
  }
.contact-us-title h2{
    background-color: var(--primary-color);
  }
.contact-us-form-container{
    display: flex;
    height: 773px;
    background-color: var(--grey-color);
    border-radius: var(--border-radius2);
    margin-top: 80px;
  }
.form-container{
    position: relative;
    top: 60px;
    height: 633px;
    margin-left: 100px;
    margin-bottom: 80px;
 
  }
.form-image-container{
    position: relative;
    left: 165px;
    margin-top: 62px;
  }
.form-action-radios{
    display: flex;
    align-items: center;
  }
.inline {
    width: unset;
    margin: 0em 1em 0 0;
    vertical-align: middle;
  }
.label-container{
    display: flex;
  
  }
.label-container2{
    margin-left: 35px;
}
.text-fields-container
{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
input[type="radio"]{
    width: 20px;
    height: 20px;
    appearance: none;
    border-radius: 50%;
    border: 1px solid var(--secondary-color);
}
input[type="radio"]:checked{
    background-color: var(--primary-color);
}
.name-container input{
    width: 556px;
    height: 56px;
    border-radius: var(--border-radius1);
    padding-left: 15px;
    padding-top: 18px;
    padding-bottom: 10px;
}
.name-container{
    margin-top: 5px;
}

.email-container input{
    width: 556px;
    height: 56px;
    border-radius: var(--border-radius1);
    padding-left: 15px;
    padding-top: 18px;
    padding-bottom: 10px;
}
.email-container{
    margin-top: 5px;
}
.message-container textarea{
    width: 556px;
    height: 190px;
    border-radius: var(--border-radius1);
    padding-left: 15px;
    padding-top: 18px;
}
.message-container{
    margin-top: 5px;
}
.email-textfield-title{
    margin-top: 25px;
}
.message-textarea-title{
    margin-top: 25px;
}
.send-message-btn-contaier button{
    width: 556px;
    height: 68px;
    border-radius: var(--border-radius1);
    background-color: var(--secondary-color);
    margin-top: 40px;
}
.send-message-btn-contaier button{
    color:var(--background-color)
}
.footer-container{
    height: 514px;
    width: 1240px;
    background-color: var(--secondary-color);
    border-top-left-radius: var(--border-radius2);
    border-top-right-radius: var(--border-radius2);
}
footer{
 margin-top: 140px
}
.menu-nav nav ul > li > a{
    color: var(--background-color);
    text-decoration: underline;
}
.footer-nav-container{
    display: flex;
    align-items: center;
    margin-left: 60px; 
}
.menu-nav nav{
    margin-top: 80px;
    margin-left: 115px;
}
.social-icons{
    margin-top: 80px;
    margin-left: 265px;
}
.social-icons img{
    margin-left: 20px;
}
.footer-logo-container{
    margin-top: 80px;
 
}
.footer-contact-us-btn{
    background-color: var(--primary-color);
    width: 126px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
}
.footer-contacts p{
    color: var(--background-color);
}
.footer-container2{
    margin-left: 60px;
    margin-top: 66px;
    display: flex;
    flex-direction: row;
}
.footer-contact-container{
    width: 332px;
}
.footer-contacts{
    margin-top: 27px;
}
.footer-contacts p{
    margin-top: 20px;
}
.footer-subscribe-container{
    width: 634px;
    height: 184px;
    background-color: var(--light-sec-color);
    margin-left: 154px;
    border-radius: var(--border-radius1);
}
.email-textfield-container input{
    width: 285px;
    height: 67px;
    border-radius: var(--border-radius1);
    margin-left: 40px;
    background-color: var(--light-sec-color);
    border: 1px solid var(--background-color);
}
.email-textfield-container input::placeholder{
    color: var(--background-color);
    padding-left: 4px;
    font-family: var(--primary-font);
}
.email-textfield-container input{
    color: var(--background-color);
}
.email-subscribe-btn button{
    width: 249px;
    height: 67px;
    border-radius: var(--border-radius1);
    margin-left: 20px;
    background-color: var(--primary-color);
}
.footer-subscribe-container{
    display: flex;
    align-items: center;
}
.footer-separator{
    width: 1120px;
    height: 1px;
    background-color: var(--background-color);
    margin-left: 60px;
    margin-top: 50px;
}
.copyright-details-container p{
    color: var(--background-color);
}
.copyright-details-container{
    display: flex;
    margin-top: 50px;
    margin-left: 60px;
}
.copyright-details-container a{
    margin-left: 40px;
    text-decoration: underline;
    text-decoration-color: var(--background-color);
}
