*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --background-color: #F3F3F3;
    --h1-font-size: 3.75rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.88rem;
    --h4-font-size: 1.25rem;
    --p-font-size: 1.13rem;
    --primary-font: "Space Grotesk", sans-serif;
    --border-radius: 14px;
   

}

header{
    display: flex;
    align-items: center;
    height: 68px;
    margin-top: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
nav ul{
    display: flex;
    margin-top: 25px;
  
}
header .logo-container img{
    width: 219.54px;
    height: 36px;
    position: relative;
    margin: 15px 15px 15px 15px;
  
}
nav ul li{
    margin: 0px 25px 0px 0px;
    list-style: none;
  
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
.nav-container{
   margin-left: 30%;
   height: 68px;
   
   
}
.menu-call-to-action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 231px;
    height: 35px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius);

}
.call-to-action-btn a{
    margin-top: 25px;
    position: relative;
    top: 10px;
    left: 60px;

}
.landing-page-details-container{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.details-image-section-container img{
    width: 600.46px;
    height: 515px;
}
.details-section-title-container{
    width: 531px;
    height: 231px;
}
.details-section-paragraph-container{
    width: 498px;
    margin-top: 25px;
}
.details-section-paragraph-container p{
    font-size: var(--p-font-size);
    font-family: var(--primary-font);
}
.details-section-title-container h1{
    font-size: var(--h1-font-size);
    font-family: var(--primary-font);
}
.details-section-call-to-action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 68px;
    border-radius: var(--border-radius);
    border: 1px solid var(--secondary-color);
    margin-top: 25px;
    background-color: var(--secondary-color);
}
.details-section-call-to-action-btn p{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
    color: var(--background-color);
}
.logo-types-details-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.logo-1-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-2-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-3-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-4-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-5-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-6-container img 
{
    height: 48px;
    width: 124.11px;
}
.service-section{
    margin-top: 110px;
    margin-left: 50px;
}
.service-introduction-container{
    display: flex;
    align-items: center;

}
.service-section-title{
    font-family: var(--primary-font);
    font-size: var(--h2-font-size);
}
.service-section-paragraph-container{
    display: flex;
    width: 580px;
    position: relative;
    left: 50px;

}
.service-section-paragraph{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
}
.service-section-title-container{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 5px 5px 5px 5px;
}
.services-container
{
    margin-top: 110px;
}



