
:root{
    --primary-color: #B9FF66;
    --secondary-color: #191A23;
    --grey-color: #F3F3F3;
    --background-color: #FFFFFF;
    --h1-font-size: 3.75rem;
    --h2-font-size: 2.5rem;
    --h3-font-size: 1.88rem;
    --h4-font-size: 1.25rem;
    --p-font-size: 1.13rem;
    --title-font-size: 3.75rem;
    --primary-font: "Space Grotesk", sans-serif;
    --border-radius1: 14px;
    --border-radius2: 45px;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--background-color);
    font-family: var(--primary-font);
    
}
h1{
    font-size: var(--h1-font-size);
    font-family: var(--primary-font);
}
h2{
    font-size: var(--h2-font-size);
    font-family: var(--primary-font);
}
h3{
    font-size: var(--h3-font-size);
    font-family: var(--primary-font);
    }
h4{
    font-size: var(--h4-font-size);
    font-family: var(--primary-font);
}
p{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
    color: var(--secondary-color);
}

header{
    display: flex;
    align-items: center;
    height: 68px;
    margin-top: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
}
main{
    margin: 100px 70px 100px 70px;
}
nav ul{
    display: flex;
    margin-top: 25px;
  
}
header .logo-container img{
    width: 219.54px;
    height: 36px;
    position: relative;
    margin: 15px 15px 15px 15px;
  
}
nav ul li{
    margin: 0px 25px 0px 0px;
    list-style: none;
  
}
a{
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--primary-font);
}
.nav-container{
   height: 68px;
   margin-left: 209.49px;
}
.menu-call-to-action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    width: 231px;
    height: 35px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius1);

}
.call-to-action-btn a{
    margin-top: 25px;
    position: relative;
    top: 10px;
    left: 60px;

}
.landing-page-details-container{
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-right: 50px;
}

.details-image-section-container img{
    width: 600.46px;
    height: 515px;
}
.details-section-title-container{
    width: 531px;
    height: 231px;
}
.details-section-paragraph-container{
    width: 498px;
    margin-top: 25px;
}

.call-to-action-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 68px;
    border-radius: var(--border-radius1);
    border: 1px solid var(--secondary-color);
    margin-top: 25px;
    background-color: var(--secondary-color);
}
.call-to-action-btn p{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
    color: var(--background-color);
}
.logo-types-details-container{
    display: flex;
}
.logo-1-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-2-container{
    margin-left: 95.9px;
}
.logo-2-container img 
{
    height: 48px;
    width: 124.11px;
    
}
.logo-3-container{
    margin-left: 95.9px;
}
.logo-3-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-4-container{
    margin-left: 95.9px;
}
.logo-4-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-5-container{
    margin-left: 95.9px;
}
.logo-5-container img 
{
    height: 48px;
    width: 124.11px;
}
.logo-6-container{
    margin-left: 95.9px;
}
.logo-6-container img 
{
    height: 48px;
    width: 124.11px;
}
.service-section{
    margin-top: 110px;
}
.service-introduction-container{
    display: flex;
    align-items: center;
}
.service-section-title{
    font-family: var(--primary-font);
    font-size: var(--h2-font-size);
}
.service-section-paragraph-container{
    display: flex;
    width: 580px;
    position: relative;
    left: 50px;

}
.service-section-paragraph{
    font-family: var(--primary-font);
    font-size: var(--p-font-size);
}
.service-section-title-container{
    background-color: var(--primary-color);
    border-radius: var(--border-radius1);
    padding: 5px 5px 5px 5px;
}

.services-containers
{
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    align-items: start;
    
    
}
/*Service section styles */
.service-container{
    display: flex;
    margin-top: 40px;
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius2);
    box-shadow: 0px 5px var(--secondary-color);
    width: 600px;
}

.first-content-container{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.second-content-container{
    margin-left: 100px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 50px ;
    width: 600px;
    height: 170px;
}
.container-title{
    margin-bottom: 90px;
    width: 221px;
}
.container-title h3{
    background-color: var(--primary-color);
    border-radius: 7px
}
.container-learn-more-btn{
    display: flex;
    align-items: center;   
    width: 164px;
}
.container-learn-more-btn-title{
    margin-left: 15px;
}

.PPC-service-container{
    background-color: var(--primary-color);
}
.SEO-service-container{
    background-color: var(--grey-color);
    margin-right: 40px;
}
.social-media-service-container{
    background-color: var(--secondary-color);
    margin-right: 40px;
}
.email-marketing-service-container{
    background-color: var(--grey-color);
}
.content-creation-service-container{
    background-color: var(--primary-color);
    margin-right: 40px;
}
.analytics-service-container{
    background-color: var(--secondary-color);
}
.analytics-container-learn-more-btn-title p{
    color: var(--background-color);
}
.content-creation-container-title h3{
    background-color: var(--background-color);
}
.social-media-container-learn-more-btn-title p{
    color: var(--background-color);
}
.social-media-container-title h3{
    background-color: var(--background-color);
}
.ppc-container-title h3{
    background-color: var(--background-color);
}

.service-first-row{
    display: flex;
    justify-content: space-evenly;
}
.service-second-row{
    display: flex;
    justify-content: space-evenly;
}
.service-third-row{
    display: flex;
    justify-content: space-evenly;
}
.service-fourth-row{
    display: flex;
    justify-content: space-evenly;
}
/*End of service styles*/
.call-to-action-container{
    display: flex;
    align-items: center;
    background-color: var(--grey-color);
    
    margin-right: 50px;
    border-radius: var(--border-radius2);
    margin-top: 143.5px;
    height: 347px;
 
}
.call-to-action-container-details{
    width: 500px;
    height: 227px;
    margin-left: 60px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-right: 186px;
}

.call-to-action-container-prg{
    margin-top: 60px;
}
.call-to-action-container-btn{
    margin-top: 26px;
}
.call-to-action-container-image{
    width: 494px;
    height:394.27px;
}
.case-study-section{
    margin-top: 110px;
}
.case-study-section-title{
    display: flex;
    align-items: center;
}
.case-study-section-paragraph{
    width: 580px;
    height: 46px;
}
.case-study-section-h2{
    width: 265px;
    height: 51px;
 

}
.case-study-section-h2 h2{
    background-color: var(--primary-color);
    border-radius: 7px;
}
.case-study-section-paragraph{
    margin-left: 40px;
}
.case-study-container{
    margin-top: 80px;
    width: 1234px;
    height: 326px;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius2);
    display: flex;

}
.use-case-p-white{
    color: var(--background-color);
}
.use-case-p-green{
    color: var(--primary-color);
}
.usecase-sub-container{
    width: 286px;
    height: 163px;
}
.usecase-learn-more-btn{
   display: flex; 
   margin-top: 20px;
}
.learn-more-btn-icon{
    margin-left: 15px;
}
.first-use-case{
    margin-left: 60px;
    margin-top: 70px;
    margin-bottom: 93px;
    margin-right: 64px;

}
.second-use-case{
    margin-top: 70px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 70px;

}
.third-use-case{
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 60px;
    margin-left: 64px;
}
.separator-use-case{
    background-color: var(--background-color);
    width: 2px;
    height: 186px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.step-by-step-guide-section{
    margin-top: 140px;
    width: 1234px;
}
.step-by-step-guide-title{
    display: flex;
    align-items: center;
}
.step-by-step-guide-title h2{
    margin-right: 40px;
    background-color: var(--primary-color);
    border-radius: 7px;
    padding: 5px;
}
.step-by-step-guide-title p{
    width: 292px;
}
.step-number p{
    font-size: var(--title-font-size);
}
.step-one-title{
    display: flex;
    align-items: center;
    width: 1117px;
    margin-bottom: 40px;
}
.step-one-consultation{
    margin-top: 80px;
}
.step-container{
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    border-radius: var(--border-radius2);
    padding-left: 60px;
    padding-top: 41px;
    box-shadow: 0px 5px var(--secondary-color);
}
.step-paragraph{
    width: 1114px;
    margin-bottom: 41px;
}
.step-separator{
    height: 1px;
    background-color: var(--secondary-color);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 60px;
}
.step-title h3{
    margin-left: 25px;
    color: var(--secondary-color);
}
.step-title{
    width: 612px;
}
.step-icon{
    margin-left: 375px;
}
.team-section{
    margin-top: 140px;
}
.team-title-container{
    display: flex;
    align-items: center;
}
.team-title{
    margin-right: 40px;
}
.team-title h2{
    background-color: var(--primary-color);
    border-radius: 7px;
}
.team-title-paragraph{
    width: 473px;
}